In [80]:
import pandas as pd
import numpy as np
import scipy as sc
from scipy import stats

In [3]:
data = pd.read_csv("churn_analysis.csv", sep=",", index_col=False) 
data.head()

,Unnamed: 0,state,account_length,area_code,intl_plan,vmail_plan,vmail_message,day_mins,day_calls,day_charge,...,night_mins,night_calls,night_charge,intl_mins,intl_calls,intl_charge,custserv_calls,treatment,mes_estim,churn
0,0,KS,128,415,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,1,0.65,False.
1,1,OH,107,415,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,0,0.55,False.
2,2,NJ,137,415,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,0,0.72,False.
3,3,OH,84,408,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,1,0.28,False.
4,4,OK,75,415,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,2,0.45,False.

In [5]:
data1=data[data.treatment==1]

In [11]:
50*51

2550

In [12]:
2550/2

1275.0

In [29]:
name=data['state'].unique()

In [71]:
h=data1[data1.state==name[1]].churn.value_counts()

In [72]:
h

False.    22
True.      2
Name: churn, dtype: int64

In [75]:
a=data1[data1.state==name[0]].churn
b=data1[data1.state==name[1]].churn

a=np.array(a)
b=np.array(b)
c2=c1=0
for i in range(len(a)):
    if a[i]=="True.":
        c1+=1
    else:
        c2+=1
c3=c4=0
for i in range(len(b)):
    if b[i]=="True.":
        c3+=1
    else:
        c4+=1
table = pd.DataFrame({name[0]:[c2,c1],name[1]:[c4,c3]})

In [76]:
table

   KS  OH
0  18  22
1   7   2

In [52]:
a

False.    18
True.      7
Name: churn, dtype: int64

In [99]:
c=0
d=0
p1=list()
p2=list()
for i in range(len(name)):
    j=i+1
    while(j<len(name)):
        
        a=data1[data1.state==name[i]].churn
        b=data1[data1.state==name[j]].churn
        a=np.array(a)
        b=np.array(b)
        c2=c1=0
        for o in range(len(a)):
            if a[o]=="True.":
                c1+=1
            else:
                c2+=1
        c3=c4=0
        for w in range(len(b)):
            if b[w]=="True.":
                c3+=1
            else:
                c4+=1
        table = pd.DataFrame({name[i]:[c2,c1],name[j]:[c4,c3]})
        a,p,k,f=stats.chi2_contingency(table,correction=False)
        a,z,k,f=stats.chi2_contingency(table,correction=True)
        p1.append(p)
        p2.append(z)
        if p<0.05:
            c+=1
        if z<0.05:
            d+=1
        j=j+1

In [95]:
c

34

In [100]:
d

0

In [97]:
p1=np.array(p1)
p1.mean()

0.5018273798739158

In [98]:
p2=np.array(p2)
p2.mean()

0.6640566382051046

In [ ]:
scipy.stats.fisher_exact

In [102]:
c=0
d=0
p1=list()
p2=list()
for i in range(len(name)):
    j=i+1
    while(j<len(name)):
        
        a=data1[data1.state==name[i]].churn
        b=data1[data1.state==name[j]].churn
        a=np.array(a)
        b=np.array(b)
        c2=c1=0
        for o in range(len(a)):
            if a[o]=="True.":
                c1+=1
            else:
                c2+=1
        c3=c4=0
        for w in range(len(b)):
            if b[w]=="True.":
                c3+=1
            else:
                c4+=1
        table = pd.DataFrame({name[i]:[c2,c1],name[j]:[c4,c3]})
        l,p=stats.fisher_exact(table)
        
        p1.append(p)
       
        if p<0.05:
            c+=1
        
        j=j+1

In [103]:
c

10

In [104]:
p1=np.array(p1)
p1.mean()

0.6483383060020681

In [105]:
a=data['day_calls']

In [107]:
b=data['mes_estim']

In [110]:
np.corrcoef(a, b)

array([[ 1.        , -0.05179435],
       [-0.05179435,  1.        ]])

In [111]:
pearson=stats.stats.pearsonr(data['day_calls'],data['mes_estim'])
pearson

(-0.05179435058757295, 0.002779883686972572)

In [112]:

spearmanr=stats.stats.spearmanr(data['day_calls'],data['mes_estim'])
spearmanr

SpearmanrResult(correlation=0.043349880533927444, pvalue=0.012317367189170541)

In [118]:
table = pd.DataFrame()
for i in range(len(name)):
    
    a=data1[data1.state==name[i]].churn
        
    a=np.array(a)
        
    c2=c1=0
    for o in range(len(a)):
        if a[o]=="True.":
            c1+=1
        else:
            c2+=1
      
    
    table[name[i]]=[c2,c1]

In [119]:
table

,KS,OH,NJ,OK,AL,MA,MO,LA,WV,IN,...,NM,NV,DC,KY,ME,MS,TN,PA,CT,ND
0,18,22,20,11,25,17,17,15,27,20,...,27,18,18,21,20,20,11,14,25,21
1,7,2,4,2,5,7,4,0,5,3,...,2,6,1,4,8,4,1,4,5,3

In [120]:
sc.stats.chi2_contingency(table)

(44.05271236692549,
 0.709759004277847,
 50,
 array([[20.89790337, 20.06198724, 20.06198724, 10.86690975, 25.07748405,
         20.06198724, 17.55423883, 12.53874202, 26.74931632, 19.2260711 ,
         18.39015497, 12.53874202, 21.73381951, 27.58523245, 15.04649043,
         19.2260711 , 19.2260711 , 16.7183227 , 16.7183227 , 18.39015497,
         15.88240656, 17.55423883, 20.06198724, 18.39015497, 10.86690975,
         10.03099362, 10.03099362, 17.55423883, 16.7183227 , 20.06198724,
         13.37465816, 20.06198724, 17.55423883, 18.39015497, 14.21057429,
         18.39015497, 12.53874202, 17.55423883, 19.2260711 , 15.88240656,
         19.2260711 , 24.24156791, 20.06198724, 15.88240656, 20.89790337,
         23.40565178, 20.06198724, 10.03099362, 15.04649043, 25.07748405,
         20.06198724],
        [ 4.10209663,  3.93801276,  3.93801276,  2.13309025,  4.92251595,
          3.93801276,  3.44576117,  2.46125798,  5.25068368,  3.7739289 ,
          3.60984503,  2.46125798,  4.26618049,  5.41476755,  2.95350957,
          3.7739289 ,  3.7739289 ,  3.2816773 ,  3.2816773 ,  3.60984503,
          3.11759344,  3.44576117,  3.93801276,  3.60984503,  2.13309025,
          1.96900638,  1.96900638,  3.44576117,  3.2816773 ,  3.93801276,
          2.62534184,  3.93801276,  3.44576117,  3.60984503,  2.78942571,
          3.60984503,  2.46125798,  3.44576117,  3.7739289 ,  3.11759344,
          3.7739289 ,  4.75843209,  3.93801276,  3.11759344,  4.10209663,
          4.59434822,  3.93801276,  1.96900638,  2.95350957,  4.92251595,
          3.93801276]]))

In [126]:
kr=(44.05271236692549/(1097*(2-1)))**0.5

In [127]:
kr

0.2003932150203332

In [128]:
data0=data[data.treatment==0].churn.map(lambda x: 1 if x=='False.' else 0)

In [129]:
data0

1       1
2       1
6       1
7       1
11      1
       ..
3321    1
3324    1
3326    1
3327    1
3332    1
Name: churn, Length: 1133, dtype: int64