In [1]:
import numpy as np
import pandas as pd
import itertools

from scipy import stats
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.weightstats import zconfint

# №4

In [2]:
a=[49,58,75,110,112,132,151,276,281,362]
a=np.array(a)
m0=200
stats.wilcoxon(a - m0)

WilcoxonResult(statistic=17.0, pvalue=0.2845026979112075)

# №5

In [3]:
a=[22,22,15,13,19,19,18,20,21,13,13,15]
b=[17,18,18,15,12,4,14,15,10]

In [4]:
stats.mannwhitneyu(b, a)

MannwhitneyuResult(statistic=27.0, pvalue=0.02900499272087373)

# №6

In [5]:
data = pd.read_csv('challenger.txt', sep = '\t', header = 0)

In [6]:
data.head()

  Unnamed: 0  Temperature  Incident
0   Apr12.81         18.9         0
1   Nov12.81         21.1         1
2   Mar22.82         20.6         0
3   Nov11.82         20.0         0
4   Apr04.83         19.4         0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 3 columns):
Unnamed: 0     23 non-null object
Temperature    23 non-null float64
Incident       23 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 624.0+ bytes

In [8]:
data

   Unnamed: 0  Temperature  Incident
0    Apr12.81         18.9         0
1    Nov12.81         21.1         1
2    Mar22.82         20.6         0
3    Nov11.82         20.0         0
4    Apr04.83         19.4         0
5    Jun18.83         22.2         0
6    Aug30.83         22.8         0
7    Nov28.83         21.1         0
8    Feb03.84         13.9         1
9    Apr06.84         17.2         1
10   Aug30.84         21.1         1
11   Oct05.84         25.6         0
12   Nov08.84         19.4         0
13   Jan24.85         11.7         1
14   Apr12.85         19.4         0
15   Apr29.85         23.9         0
16   Jun17.85         21.1         0
17   Jul29.85         27.2         0
18   Aug27.85         24.4         0
19   Oct03.85         26.1         0
20   Oct30.85         23.9         1
21   Nov26.85         24.4         0
22   Jan12.86         14.4         1

In [9]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [10]:
data_inc_0 = data[data.Incident == 0 ]
data_inc_1 = data[data.Incident == 1 ]

In [11]:
inc_0 = np.array(data_inc_0['Temperature'])
inc_1 = np.array(data_inc_1['Temperature'])

In [27]:
np.random.seed=0

In [28]:


median_scores_0 = map(np.mean, get_bootstrap_samples(inc_0, 1000))
median_scores_1 = map(np.mean, get_bootstrap_samples(inc_1, 1000))

delta_median_scores = map(lambda x: x[1] - x[0], zip(median_scores_1, median_scores_0))
print "95% confidence interval for the difference between medians",  stat_intervals(delta_median_scores, 0.05)

95% confidence interval for the difference between medians [1.09515625 7.949375  ]

In [14]:
a=[4,4]
b=[5,5]
delta_median_scores = map(lambda x: x[1] - x[0], zip(a, b))
print delta_median_scores

[1, 1]

# №7

In [15]:
def permutation_t_stat_ind(sample1, sample2):
    return np.mean(sample1) - np.mean(sample2)
def get_random_combinations(n1, n2, max_combinations):
    index = range(n1 + n2)
    indices = set([tuple(index)])
    for i in range(max_combinations - 1):
        np.random.shuffle(index)
        indices.add(tuple(index))
    return [(index[:n1], index[n1:]) for index in indices]
def permutation_zero_dist_ind(sample1, sample2, max_combinations = None):
    joined_sample = np.hstack((sample1, sample2))
    n1 = len(sample1)
    n = len(joined_sample)
    
    if max_combinations:
        indices = get_random_combinations(n1, len(sample2), max_combinations)
    else:
        indices = [(list(index), filter(lambda i: i not in index, range(n))) \
                    for index in itertools.combinations(range(n), n1)]
    
    distr = [joined_sample[list(i[0])].mean() - joined_sample[list(i[1])].mean() \
             for i in indices]
    return distr
def permutation_test(sample, mean, max_permutations = None, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    t_stat = permutation_t_stat_ind(sample, mean)
    
    zero_distr = permutation_zero_dist_ind(sample, mean, max_permutations)
    
    if alternative == 'two-sided':
        return sum([1. if abs(x) >= abs(t_stat) else 0. for x in zero_distr]) / len(zero_distr)
    
    if alternative == 'less':
        return sum([1. if x <= t_stat else 0. for x in zero_distr]) / len(zero_distr)

    if alternative == 'greater':
        return sum([1. if x >= t_stat else 0. for x in zero_distr]) / len(zero_distr)

In [21]:
np.random.seed = 0

In [22]:
print "p-value: %f" % permutation_test(inc_1, inc_0, max_permutations = 10000)

p-value: 0.004700