In [1]:

import scipy as sc
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv("pre.txt", sep=";") 
df

           v    b
0      4,2,3  NaN
1      3,2,4  NaN
2      4,2,3  2.0
3      3,2,4  2.0
4      4,4,4  1.0
5  2,3,2,3,5  5.0

In [30]:
arr=[0]*6
a=np.array(df['v'])
for i in range(6):
    b=a[i].split(',')
    print(b)
    un=set(b)
    un=list(un)
    for j in range(len(un)):
        arr[int(un[j])]+=int(b.count(un[j]))

['4', '2', '3']
['3', '2', '4']
['4', '2', '3']
['3', '2', '4']
['4', '4', '4']
['2', '3', '2', '3', '5']

In [31]:
arr

[0, 0, 6, 6, 7, 1]

In [19]:
import math
arr2=[0]*5
a=np.array(df['b'])
for i in range(5):
    print(a[i])
    if a[i]!=a[i]:
        continue
        print(a[i])
    else:
        if len(a[i])==1:
            a[i]=int(a[i])
        b=a[i].split(',')
        un=set(b)
        un=list(un)
        for j in range(len(un)):
            arr2[int(un[j])]+=int(b.count(un[j]))

nan
nan
2.0

TypeError: object of type 'numpy.float64' has no len()

In [35]:
arr2=[0, 1, 2, 0, 0,1]

In [36]:
rate_df=pd.DataFrame({'view_num': arr,'buy_num':arr2})

In [37]:
rate_df

   view_num  buy_num
0         0        0
1         0        1
2         6        2
3         6        0
4         7        0
5         1        1

In [38]:
df_sort1=rate_df.sort_values(by=['view_num'],ascending=False)

In [39]:
df_sort1

   view_num  buy_num
4         7        0
2         6        2
3         6        0
5         1        1
0         0        0
1         0        1

In [45]:
sort=df_sort1.index

In [49]:
sort

Int64Index([4, 2, 3, 5, 0, 1], dtype='int64')

In [105]:
arr=list()
otv=list()
a=np.array(df['v'])
for i in range(6):
    if a[i]!=a[i]:
        continue
    else:
        b=a[i].split(',')
        b= list(dict.fromkeys(b))# без дубликатов
       
        vm=df_sort1['view_num']

        b1=list()
        
        for i in range(len(b)):
            b1.append(vm[int(b[i])])
        for i in range(len(b1)-1):
            for j in range(len(b1)-i-1):
                if b1[j] < b1[j+1]:
                    b1[j], b1[j+1] = b1[j+1], b1[j]
                    b[j], b[j+1] = b[j+1], b[j]
        print(b)
        otv.append(b)
        b=[]

['4', '2', '3']
['4', '3', '2']
['4', '2', '3']
['4', '3', '2']
['4']
['2', '3', '5']

In [108]:
df['sort']=otv

In [129]:
df1=df.fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [93]:
b=[3,2,4,3]
b= list(dict.fromkeys(b))# без дубликатов

vm=df_sort1['view_num']

b1=list()
ans=list()
for i in range(len(b)):
    b1.append(vm[b[i]])
b1_sort=sorted(b1)
b1_sort=b1_sort[::-1]


for i in range(len(b1)-1):
    for j in range(len(b1)-i-1):
        if b1[j] < b1[j+1]:
            b1[j], b1[j+1] = b1[j+1], b1[j]
            b[j], b[j+1] = b[j+1], b[j]
print(b)

[4, 3, 2]

In [76]:
b1

[6, 6, 7]

In [73]:
vm

4    7
2    6
3    6
5    1
0    0
1    0
Name: view_num, dtype: int64

In [135]:
a=np.array(df['b'])
p5=list()

for i in range(6):
    if a[i]!=a[i]:
        continue
    else:
        b=a[i]
        un=set([b])
        print(un)
        rec=list(map(int,otv[i][:2]))
        print(rec)
        
        e=len(un.intersection(set(rec)))
        print(e)
        p5.append(e/2)

{2.0}
[4, 2]
1
{2.0}
[4, 3]
0
{1.0}
[4]
0
{5.0}
[2, 3]
0

In [136]:
print(sum(p5)/len(p5))

0.125

In [132]:
p5

[0.5, 0.0, 0.0, 0.0]