In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("ab_browser_test.csv", sep=",", index_col=False) 
data.head()

   userID     browser     slot  n_clicks  n_queries  n_nonclk_queries
0       1  Browser #2      exp        23         32                19
1       3  Browser #4      exp         3          4                 2
2       5  Browser #4      exp        29         35                16
3       6  Browser #4  control        12          6                 0
4       7  Browser #4      exp        54         68                30

In [3]:
data_exp=data[data.slot=='exp']
data_control=data[data.slot=='control']

In [4]:
a=np.array(data_exp.n_clicks)
b=np.array(data_control.n_clicks)

In [5]:
a.sum()-b.sum()

51796

In [6]:
51796.0/b.sum()

0.016135689824415808

# Task2

In [7]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

In [8]:
exp = data_exp.n_clicks.values
con = data_control.n_clicks.values

In [ ]:
np.random.seed(0)

median_scores_0 = list(map(np.median, get_bootstrap_samples(exp, 1000)))
median_scores_1 = list(map(np.median, get_bootstrap_samples(con, 1000)))

print("95% confidence interval for the 0 median repair time:",  stat_intervals(median_scores_0, 0.05))
print("95% confidence interval for the 1 median repair time:",  stat_intervals(median_scores_1, 0.05))

In [ ]:
delta_median_scores = list(map(lambda x: x[1] - x[0], zip(median_scores_0, median_scores_1)))
print("95% confidence interval for the difference between medians",  stat_intervals(delta_median_scores, 0.05))

In [4]:
from scipy import stats

In [ ]:
fifa=[0]*603139

for i in range(603139):
    if len(np.array(data_exp[data_exp.userID==i].n_clicks))==0:
        continue
    else:
        fifa[i]=fifa[i]+np.array(data_exp[data_exp.userID==i].n_clicks)[0]
data_exp_new= pd.DataFrame(dict(zip(range(603139), fifa)))

In [30]:
if len(np.array(data_exp[data_exp.userID==2].n_clicks))==0:
    print("gd")

gd

In [ ]:
data_exp_new

In [ ]:
stats.mannwhitneyu(price2001, price2002)